* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    height: 70px;
    background-color: #2965f1;
    padding: 23px 0;  
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */    
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    min-height: 100vh;
    padding: 60px 0px;
}

.main-title {
    /* Стили для заголовка в первой секции */    
    font-weight: 700;
    font-size: 48px;    
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */    
    font-weight: 400;
    font-size: 18px;    
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;;
    padding: 100px 0px;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    padding: 9px 87px 8px 12px;

    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0);
    
    font-weight: 400;
    font-size: 16px;    

    appearance: none;
    background-image: url(./assets/image/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */    
    font-weight: 700;
    font-size: 24px;
    padding: 0 20px;     
    margin-bottom: 25px;     
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    padding-left: 20px;    
    font-weight: 400;
    font-size: 16px;    
    list-style-image: url(./assets/image/solar_map-arrow-up-bold.svg);
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding: 0 20px;   
    font-weight: 400;
    font-size: 16px;    
}

.label {
    /* Стили для подписей чекбоксов */    
    font-weight: 400;
    font-size: 16px;    
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    height: 36px;    
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding: 9px 215px 8px 12px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;   

}

.btn {
    /* Стили для кнопки */    
    width: 125px;
    height: 36px;    
    border: none;
    border-radius: 5px;
    background-color: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    /* Стили для линии */
    margin: 60px 0px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
}

table {
    /* Стили для таблицы */
    border: 1px solid #95a1bb;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;    
}

footer {
    /* Стили для футера */
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0px;
    
}

.footer-link {
    /* Стили для футера */    
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}